
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myConsumeLabel" translate="growupApp.consume.home.createOrEditLabel">Create or edit a Consume</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="consume.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="growupApp.consume.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="consume.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="growupApp.consume.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="consume.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="growupApp.consume.applyDate" for="field_applyDate">ApplyDate</label>
            <input id="field_applyDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="consume.applyDate" is-open="datePickerForApplyDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForApplyDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="growupApp.consume.applyValue" for="field_applyValue">ApplyValue</label>
            <input type="number" class="form-control" name="applyValue" id="field_applyValue"
                    ng-model="consume.applyValue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="growupApp.consume.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="consume.status" id="field_status">
                <option value="draft" translate="growupApp.Status.draft">draft</option>
                <option value="confirmed" translate="growupApp.Status.confirmed">confirmed</option>
                <option value="canceled" translate="growupApp.Status.canceled">canceled</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="growupApp.consume.auditDate" for="field_auditDate">AuditDate</label>
            <input id="field_auditDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="consume.auditDate" is-open="datePickerForAuditDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForAuditDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="growupApp.consume.auditValue" for="field_auditValue">AuditValue</label>
            <input type="number" class="form-control" name="auditValue" id="field_auditValue"
                    ng-model="consume.auditValue"
                     />
        </div>

        <div class="form-group">
            <label translate="growupApp.consume.applyer" for="field_applyer">applyer</label>
            <select class="form-control" id="field_applyer" name="applyer" ng-model="consume.applyerId" ng-options="user.id as user.login for user in users">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="growupApp.consume.auditor" for="field_auditor">auditor</label>
            <select class="form-control" id="field_auditor" name="auditor" ng-model="consume.auditorId" ng-options="user.id as user.login for user in users">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
